body {
  background-color: rgb(252, 255, 222);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

li {
  background-color: rgb(222, 222, 222);
  margin-bottom: 16px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.menu-link {
  padding: 16px;
  display: block;
}

li:hover {
  background-color: rgb(198, 198, 198);
}
